<footer class="text-center text-lg-start bg-white text-muted border-top mt-5">
  <!-- <section class="">
    <div class="text-center text-md-start mt-5 footer-content">
      <div>

        <div class="text-uppercase fw-bold mb-4 section-title">
          Test Components
        </div>
        <p>
          <a class="text-reset" routerLink="test/chart-test">Chart</a>
        </p>
        <p>
          <a class="text-reset" routerLink="test/dashboard-test">Dashboard</a>
        </p>
        <p>
          <a class="text-reset" routerLink="test/form-test">Form</a>
        </p>
        <p>
          <a class="text-reset" routerLink="test/table-test">Table</a>
        </p>
        <p>
          <a class="text-reset" routerLink="test/datasharing-test"
            >Data Sharing</a
          >
        </p>
        <p>
          <a class="text-reset" routerLink="test/directives"
            >Directives Examples</a
          >
        </p>
      </div>

      <div>
        <div class="text-uppercase fw-bold mb-4 section-title">Json Server</div>
        <p>
          <a class="text-reset" routerLink="json-server/login">Login</a>
        </p>
        <p>
          <a class="text-reset" routerLink="json-server/crud">CRUD Operation</a>
        </p>
      </div>

      <div>
        <div class="text-uppercase fw-bold mb-4 section-title">
          Applications
        </div>
        <p>
          <a class="text-reset" routerLink="applications/todo-list"
            >To Do List</a
          >
        </p>
      </div>

      <div>
        <div class="text-uppercase fw-bold mb-4 section-title">Contact</div>
        <p><i class="fa fa-home me-3 text-secondary"></i> Vadodara, INDIA</p>
        <p>
          <i class="fa fa-envelope me-3 text-secondary"></i>
          harshkhatri62@gmail.com
        </p>
        <p><i class="fa fa-phone me-3 text-secondary"></i> + 91 96380 38362</p>
      </div>

      <div class="social-media-div">
        <a href="" class="me-4 link-secondary social-icon">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-secondary social-icon">
          <i class="fa fa-twitter"></i>
        </a>

        <a href="" class="me-4 link-secondary social-icon">
          <i class="fa fa-instagram"></i>
        </a>
        <a
          class="me-4 link-secondary social-icon"
          target="_blank"
          href="https://www.linkedin.com/in/harshk11"
        >
          <i class="fa fa-linkedin"></i>
        </a>
        <a
          class="me-4 link-secondary social-icon"
          target="_blank"
          href="https://github.com/harshkhatri11"
        >
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </section> -->

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold">Harsh Khatri</a>
  </div>
</footer>
